/* * {
  border: 0.5px solid green;
} */

body {
  background: url('../images/bg-3.jpg');
  background-size: cover;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  background-color: none;
  margin: 0 auto;
  opacity: 0.9;
}

#main-logo {
  text-align: center;
  margin: auto;
}

#main-logo img {
  width: 38%;
  margin: 0 auto;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  opacity: 1;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 10px 0px;
}

main {
  background-color: white;
  width: 75%;
  margin: 0 auto;
  border-radius: 1em;
  text-align: center;
}

.score {
  display: inline-block;
  width: 204px;
  height: 40%;
  text-align: center;
  margin: auto;
  vertical-align: top;
}

.score img {
  width: 200px;
  height: 300px;
  margin: 0 auto;
  border: 1px lightgrey;
}

#player-a-score {
  float: left;
}

#player-a-score img {
  float: left;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#player-b-score {
  float: right;
}

#player-b-score img {
  float: right;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.clearfix {
  clear: both;
}

.score div {
  display: inline-block;
  width: 49%;
  text-align: center;
}

#game-board {
  min-width: 407px;
  display: inline-block;
  width: 50%;
  height: 600px;
  margin: 0 auto;
}

.row {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 0px 0px 4px 0px;
  text-align: center;
}

.row div img {
  width: 80px;
  height: 80px;
}

.row div {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 0.5px solid darkgrey;
  box-shadow: 1px 1px 1px 1px darkgrey;
  margin: 1px;
}

.buttons {
  text-align: center;
  padding: 20px;
}

.buttons button {
  background-color: #FFFAFA;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px darkgrey;
  top: 0px;
  border-radius: 1em;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: black;
  opacity: 0.5;
  color: white;
  font-weight: bold;
}

button:active {
  box-shadow: 1px 1px 1px 1px black;
  top: 3px;
}

p.message {
  border: 1px solid black;
  padding: 5px 0px;
  margin: 0;
}
