/* * {
  border: 0.5px solid green;
} */
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

body {
  background: url('../images/bg-3.jpg');
  background-size: cover;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  background-color: none;
  margin: 0 auto;
  opacity: 0.9;
}

#main-logo {
  text-align: center;
  margin: auto;
}

#main-logo img {
  width: 38%;
  margin: 0 auto;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  opacity: 1;
}

#player-a-score h2 {
  display: block;
  /* display: flex; */
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 30x;
  /* margin: 5px;
  padding: 10px 0px; */
}

#player-b-score h2 {
  display: block;
  /* display: flex; */
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 30x;
  /* margin: 5px;
  padding: 10px 0px; */
}



main {
  position: relative;
  background-color: white;
  width: 75%;
  margin: 0 auto;
  border-radius: 1em;
  text-align: center;
}

.score {
  display: inline-block;
  width: 28%;
  height: 40%;
  text-align: center;
  margin: auto;
  vertical-align: top;
}

#player-a-score {
  float: left;
}

/* #player-a-score div {
  float: left;
} */

.marvel-board {
  display: inline-block;
  float: left;
  border: 1px solid grey;
  border-radius: 2px;
  margin: 1px;
}

#player-a-score .char-img {
  float: left;
}

#player-a-score .char-img img {
  float: left;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border: 2px solid rgba(255,0,0,0.1);
}

#player-b-score {
  float: right;
}

/* #player-b-score div {
  float: right;
} */

.dc-board {
  display: inline-block;
  float: right;
  border: 1px solid grey;
  border-radius: 2px;
  margin: 1px;
}

#player-b-score .char-img {
  float: right;
}

#player-b-score .char-img img {
  float: right;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border: 2px solid rgba(255,0,0,0.1);
}

.char-img {
  /* display: flex; */
  width: 60%;
  height: 90%;
}

.char-img img {
  width: 150px;
  height: 225px;
  margin: 0 auto;
  border: 1px lightgrey;
}

.cover {
  object-fit: cover;
}

/* .clearfix {
  clear: both;
} */

/* .score div {
  display: inline-block;
  text-align: center;
} */

#game-board {
  min-width: 407px;
  display: inline-block;
  width: 35%;
  margin: 0 auto;
}

table {
  margin: 0 auto;
}

#game-board table tr {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 0px 0px 3px 0px;
  text-align: center;
}

/* .row {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 0px 0px 4px 0px;
  text-align: center;
} */

.cell img {
  width: 80px;
  height: 80px;
}

/* .row div img {
  width: 80px;
  height: 80px;
} */

.cell {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 1px solid darkgrey;
  box-shadow: 1px 1px 1px 1px rgba(128,128,128,0.6);
  margin: 3px;
}

/* .row div {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 1px solid darkgrey;
  box-shadow: 1px 1px 1px 1px rgba(128,128,128,0.6);
  margin: 1px;
} */

.playerA.cell:hover {
  background-color: red;
  border: 1px solid;
  border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
}

.playerB.cell:hover {
  background-color: blue;
  border: 1px solid;
  border-image: conic-gradient(red, magenta, blue, aqua, lime, yellow, red) 1;
}

.buttons {
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.buttons button {
  background-color: #404040;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px darkgrey;
  top: 0px;
  border-radius: 1em;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: black;
  opacity: 0.5;
  color: white;
  /* font-weight: bold; */
}

button:active {
  box-shadow: 1px 1px 1px 1px black;
  top: 3px;
}

p.message {
  border: 1px solid black;
  padding: 5px 0px;
  margin: 0;
}

.no-events {
  pointer-events: none;
}

#message {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 40px;
  border: 1px solid black;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 100000;
  display: none;
  padding: 10px;
  border-radius: 5px;
}

.marvel-board td {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  /* border: 2px solid grey; */
  border-radius: 5px;
  padding: 0px;
}

.marvel-board table tr td:hover {
  border-color: red;
}

.marvel-board td img {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 1px;
  border-radius: 5px;
}

.marvel-board table {
  border-spacing: 0px;
}

.marvel-board table tr {
  padding: 0px;
  margin: 0px;
}

.dc-board td {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  /* border: 2px solid grey; */
  border-radius: 5px;
  padding: 0px;
}

.dc-board table {
  border-spacing: 0px;
}

.dc-board table tr {
  padding: 0px;
  margin: 0px;
}

.dc-board table tr td:hover {
  border-color: blue;
}

.dc-board td img {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 1px;
  border-radius: 5px;
}

.character-icons {
  margin: 0px;
}

.char-selection-buttons {
  clear: both;
  text-align: center;
  padding-bottom: 20px;
}

#player-a-score .char-selection-buttons {
  float: left;
}

#player-b-score .char-selection-buttons {
  float: right;
}

.confirm {
  background-color: #000080;
  height: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  box-shadow: 0.2px 0.2px 0.2px 0.2px black;
  border-radius: 1em;
}

.random {
  background-color: #B22222;
  height: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  box-shadow: 0.2px 0.2px 0.2px 0.2px black;
  border-radius: 1em;
}

.winner-message-marvel {
  width: 100%;
  border: 1px solid silver;
  background-color: #B22222;
  border-radius: 3px;
  font-family: Arial, serif;
  box-shadow: 1px 1px 1px 1px black;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.winner-message-dc {
  width: 100%;
  border: 1px solid silver;
  background-color: #000080;
  border-radius: 3px;
  font-family: Arial, serif;
  box-shadow: 1px 1px 1px 1px black;
  color: white;
  font-weight: bold;
  padding: 5px;
}

p.current-score {
  font-family: 'Bangers', cursive;
  font-size: 20px;
}

#player-a-score .winner-message {
  float: right;
}

#player-b-score .winner-message {
  float: left;
}

#character-box-a {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 80px;
  /* float: right; */
  top: 0px;
}

#character-box-b {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 80px;
  top: 0px;
  /* float: left; */
}

#rematch-pop-up {
  background-color: #f14e4e;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px darkgrey;
  top: 0px;
  border-radius: 1em;
}

#rematch-pop-up:hover {
  background-color: red;
  opacity: 1;
}
